<template>
  <div>
    {{#if hasNavbar}}
      <div>导航栏</div>
    {{/if}}
  </div>
</template>

<script>
  export default {
    name: '{{ properCase name }}',
    props: {},
    data() {
      return {}
    },
    created() { },
    mounted() { },
    methods: {}
  }
</script>

<style lang="less">

</style>